.eventSlide {
  margin-top: 20px;
  padding: 200px 50px;
  position: relative;
  color: #ffffff;
  z-index: 20;
  background: url("../../assets/image/event/backroundTech.a989a5f8.jpg");
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(50%);
}
.eventSlide::after {
  content: "";
  background: url("../../assets/image/event/high-techbrain.2f38d2ab.png");
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 95%;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: contain;
}
@media screen and (max-width: 820.98px) {
  .eventSlide {
    padding: 100px 20px;
  }
  .eventSlide::after {
    width: 95%;
  }
}
@media screen and (max-width: 414.98px) {
  .eventSlide {
    padding: 90px 20px;
  }
  .eventSlide::after {
    display: none;
  }
}