@media screen and (max-width: 1440.98px) {
    .filter{
            padding:1rem ;
       
    }
    }
@media screen and (max-width: 414.98px) {
.filter{
        padding:0.5rem ;
        label{
                span{
                        font-size: 10px;
                }
        }
}
.rate{
        .py-2{
                padding: 0;
        }
        span{
                font-size: .95rem;
                li{
                        margin-inline-end: 0px !important;
                }
        }
}
}
@media screen and (max-width: 320px) {
        .rate{
                span{
                        font-size: .7rem;
                }
        }
}