@import '../../utils/variable.scss';
@import '../../utils/mixin.scss';

.headerLine{
    background: $c3GradientRight;
    width: 100vw;
    height: 3px;
}
.header{
    width: 100vw;
   @apply bg-slate-900 text-white h-16 flex items-center;
    padding: 0 10px;
   .Logo{
    position: relative;
    display: flex;
    align-items: center;
    img{
        width: 50px;
    }
    h1{
        @apply font-extrabold text-2xl ml-2;
        letter-spacing: 1px;
    }
    
    &:hover h1{
        @include textGradient($c3GradientLeft);
    }
   }
    
    @media screen and (max-width: 1024px) {            
            img{
                width: 40px;
            }
            h1{
                display: none;
            }
    }
    @media screen and (max-width: 768px) {
        img{
            width: 40px;
        }
        h1{
            display: block;
            font-size: 1rem;
            line-height: 1rem;
        }
    }
}


.navMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    .navBar{
        display: flex;
        justify-content: space-around;
        li{
            padding: 21px 10px;
            position: relative;
            cursor: pointer;
            z-index: 1;
            font-weight: 500;
            font-size: 14px;
            a{
                padding: 21px 10px;
            }
        }
       
        .portfolioMenu{
            position: relative;
            display: flex;
            align-items: center;
            z-index: 100;
            .portfolio{
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $cWhite;
                border: 1px solid gray;
                width: 220px;
                color: $cTeal-600;
                height: 0;
                transition: all 0.4s;
                overflow: hidden;
                visibility: hidden;
                box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
                li{
                    padding: 5px 20px;
                    text-transform: uppercase;
                    position: relative;
                    transition: all .4s;
                    font-weight: 400;
                    &:hover{
                        color: $cWhite;
                    }
                }
                li:last-child{
                    padding-bottom: 10px;
                }
                li:first-child{
                    padding-top: 10px;
    
                }
                
            }
            &:hover .portfolio{
                visibility: visible;
                height: 198px;
            }
            @media screen and (max-width: 768px){
                z-index: 100;
                .portfolio{
                    width: 100%;
                    top: 0;
                    left: -100%;      
                }        
                &:hover .portfolio{
                    height: 147px; 
                }
            }
        }
        
        .eventMenu{
            position: relative;
            z-index: 1000;
            .event{
                position: absolute;
                top: 100%;
                left: 0;
                background-color: $cWhite;
                border: 1px solid gray;
                width: 230px;
                color: $cTeal-600;
                text-transform: uppercase;
                height: 0;
                transition: all 0.4s;
                overflow: hidden;
                visibility: hidden;
                box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
                li{
                    padding: 5px 20px;
                    text-transform: uppercase;
                    position: relative;
                    transition: all .4s;
                    font-weight: 400;
                    &:hover{
                        color: $cWhite;
                    }
                }
                li:last-child{
                    padding-bottom: 10px;
                }
                li:first-child{
                    padding-top: 10px;
    
                }
            }
            &:hover .event{
                visibility: visible;
                height: 74px; 
            }

            @media screen and (max-width: 768px) {
                .event{
                    top: 0;
                    left: -100%;
                    width: 100%;
                }
                
            }
        }

    }
    
    .navBar > li:after{
        content: "";
        position: absolute;
        background: $c3GradientBottom;
        display: block;
        width: 100%;
        height: 0%;
        bottom: 0;
        left: 0;
        transition: all .3s;
        z-index: -1;
    }
    
    .navBar>li:hover:after{
        height: 100%;
    }
    
    .portfolio li::after{
        content: "";
        position: absolute;
        background: $c3GradientRight;
        display: block;
        width: 0%;
        height: 100%;
        bottom: 0;
        left: 0;
        transition: all .4s;
        z-index: -1;
    }
    .portfolio li:hover::after{
        width: 100%;
    }
    .event li::after{
        content: "";
        position: absolute;
        background: $c3GradientRight;
        display: block;
        width: 0%;
        height: 100%;
        bottom: 0;
        left: 0;
        transition: all .4s;
        z-index: -1;
    }
    .event li:hover::after{
        width: 100%;
    }

    @media screen and (max-width: 1279.98px) {
        .navBar{
            li{
                font-size: 10px;
            }
        }
    }
    @media screen and (max-width: 820.98px) {
        .navBar{
            li{
                font-size: 11px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        background-color: $cWhite;
        display: block;
        transition: all .5s;
        position: absolute;
        width: 48%;
        height: 256px;
        top: 100%;
        z-index: 1000;
        right: 0;
        border: 1px solid gray;
        box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
        .navBar{
            display: block;
            li{
                color: $cTeal-700;
                padding: 10px 10px;
                transition: all .4s;
                &:hover{
                    color: $cWhite;
                }
                a{
                    padding: 0;
                }
            }
        }
        
    }

    
}


.loginButton{
    @apply px-2 py-1 lg:px-3 lg:py-2 mr-3 md:text-sm lg:text-sm ;
    @include btnGradient($c5GradientLeft, 250% auto, all 0.5s ease);
    transition-timing-function: ease, ease;
    
}

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .account{
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img{
            margin:0 5px;
            border-radius: 100%;
            width: 45px;
            border: 2px solid $cWhite;
            transition: all .4s;
        }
        &:hover img{
            border-color: $cTeal-500;
        }
    }   
    .adminBtn{
        position: absolute;
        top: 100%;
        border: 1px solid gray;
        box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
        right: 0%;
        width: 200px;
        height: 0%;
        background-color: $cWhite;
        color: $cTeal-600;
        transition: all .5s ease;
        visibility: hidden;
        overflow: hidden;
        li{
            padding: 5px 20px;
            position: relative;
            display: flex;
            align-items: center;
            z-index: 100;
            cursor: pointer;
            transition: all .5s ease;
            &:hover {
                color: $cWhite;
            }        }
        li:last-child{
            padding-bottom: 10px;
        }
        li:first-child{
            padding-top: 10px;

        }
        li:after{
            content: "";
            position: absolute;
            background: $c3GradientBottom;
            display: block;
            width: 0%;
            height: 100%;
            bottom: 0;
            left: 0;
            transition: all .3s;
            z-index: -1;
        }
        li:hover:after{
            width: 100%;
        }
    }
    &:hover .adminBtn{
        visibility: visible;
        height: 122px;
    }
}

.buttonNavBar{
    display: none;
    @media screen and (max-width: 768px) {
        display: block;
        margin-right: 10px;
    }
}




